:root {
  /* Colors */
  --color-white: #ffffff;
  --color-purple: #4104cf;
  --color-green: #2f855a;
  --color-black: #000000;

  /* Spacing  */
  --spacing-100: 1rem;
  --spacing-200: 2rem;
  --spacing-400: 4rem;
}

/* Layout */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.inner-div {
  max-width: 700px;
  margin: auto;
}

/* Topography */
.text-m {
  font-size: 0.75rem;
}
.text-p {
  color: var(--color-black);
  justify-content: center;
  text-decoration: none;
}

/* Colors */

.bg-white {
  background-color: var(--color-white);
}
.bg-purple {
  background-color: var(--color-purple);
}
.text-purple{
  color: var(--color-purple);
}
.text-black {
  color: var(--color-black);
}
.text-white {
  color: var(--color-white);
}
/* Padding */
.py-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pt-2 {
  padding-top: 0.45rem;
}
/* Width */
.w-auto {
  width: auto;
}
.w-6 {
  width: 80%;
}
.w-1 {
  width: 2rem;
}

/* Height */
.h-full {
  height: 100vh;
}
.h-1 {
  height: 2rem;
}
.h-5 {
  height: 9rem;
}

/* Spacing */
.line-h {
  line-height: 1.5rem;
}
.space-y-1 > *:not(:first-child) {
  margin-top: 1rem;
}
.space-x-1 > *:not(:first-child) {
  margin-left: 2rem;
}
.border-solid {
  border-style: solid;
  border-color: var(--color-black);
}
.float-right {
  float: right;
}
.rounded {
  border-radius: 0.375rem;
}
.icon i::before {
  font-size: 3rem;
}
.link:hover {
  color: var(--color-green);
  transition: 0.3s;
}

/* Responsive */
@media only screen and (max-width: 640px) {
  body {
    height: inherit !important;
    padding: var(--spacing-100);
  }

  .inner-div {
    flex-direction: column;
  }

  .space-x-1 > *:not(:first-child) {
    margin-left: 0;
  }
}
